extends ./partials.pug
block content
	
						
		nav.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#top-navbar')
					i.fa.fa-bars(aria-hidden='true')
					| 
					span.navbar-brand Company Name
				#top-navbar.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='#home') Home
						li
							a(href='#about') About
						li
							a(href='#products') Products
						li
							a(href='#contact') Contact
		header
			.container
		section#home
			.container
		section#about
			.container
		section#products
			.container
		section#contact
			.container
		footer
			.container
		div
						
