extends ./partials.pug 
block content
		header
			h1 Where to travel next?
			p#sub-title Travel Next generates locations based on my own travel experiences. 
			button.btn.btn-1.btn-red(onClick="location.href='/destination'" value='random') Find a destination
