extends ./partials.pug 
block content
	

	//- nav#mainNav.navbar.navbar-default.navbar-fixed-top
	//- 	.container-fluid
	//- 		.navbar-header
	//- 			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
	//- 				span.sr-only Toggle navigation
	//- 				| Menu
	//- 				i.fa.fa-bars
	//- 			|
	//- 			a.navbar-brand.page-scroll(href='#page-top') Travel Next

			//- #navbar.collapse.navbar-collapse
			//- 	ul.nav.navbar-nav.navbar-right
			//- 		li
			//- 			a.page-scroll(href='#about') About
			//- 		li
			//- 			a.page-scroll(href='#services') Contact
			//- 		li
			//- 			a.page-scroll(href='#portfolio') Portfolio
			//- 		li
			//- 			a.page-scroll(href='#contact') Contact




	header.index
		h1 Where 
			span to travel next?
			span
				//- h3 We will help you! 
		p#sub-title Travel Next generates locations based on my own travel experiences! 
		button.btn.btn-1.btn-red(onClick="location.href='/destination'" value='random') Find a destination




						
		//- nav.navbar.navbar-default.navbar-fixed-top
		//- 	.container
		//- 		.navbar-header
		//- 			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#top-navbar')
		//- 			i.fa.fa-bars(aria-hidden='true')
		//- 			| 
		//- 			span.navbar-brand Travel Next
		//- 		#top-navbar.collapse.navbar-collapse
		//- 			ul.nav.navbar-nav.navbar-right
		//- 				li
		//- 					a(href='#about') About
		//- 				li
		//- 					a(href='#contact') Contact
		//- header
		//- 	.container
		//- section#home
		//- 	.container
		//- section#about
		//- 	.container
		//- section#products
		//- 	.container
		//- section#contact
		//- 	.container
		//- footer
		//- 	.container
		//- div
		//- 			