/* ==========================================================================
   GENERAL STYLING
   ========================================================================== */

*{
	margin:0;
	padding:0;
}

body, html {
    height: 100%;

}
body{
	font-family: 'Montserrat', sans-serif;
}

section{
	overflow:hidden;
}

img{
	vertical-align: 0;
}

ul{
	list-style-type: none;
}

h1{
	font-family:'Montserrat', sans-serif;
	text-transform: uppercase;
 	/* font-weight: 700;*/
}


/* ==========================================================================
   NAVBAR
   ========================================================================== */


.navbar-default {
	background-color: white;
	border:none;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-right{
	margin-right:0px;
	color:red;

}

/* ==========================================================================
   HEADER INDEX
   ========================================================================== */


header{
	background-image: url(../img/world2.jpg) ;
	background-size:cover;
	background-position: center;
	height:100vh;
	
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}

header h1{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 56px;
    color: #fff;
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

header p {
	font-weight: 300;
	text-align: center;
  	font-size: 22px;
  	margin-bottom: 50px;
  	color:#fff;
  	letter-spacing: 1px;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */

.btn {
	border: 3px solid;
	font-family: 'Montserrat', sans-serif;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 13px 30px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	font-weight: 700;
	outline: none;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button index page  */
.btn-1 {
	color: black;
	position:relative;
}


.btn-1:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

.btn-2{
	color:white;p
	position: absolute;
	top: 60%;
	left:50%;

}

.btn-red{
	background: #CB2127;
	color: #fff;
	box-shadow: 0 4px 0 0 #923133;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 0 0 5px 5px;
	border:none;
}

.btn-red:hover {
	box-shadow: 0 2px 0 0 #923133;
    transform: translateY(2px);
    color:white;
}

.buttons{
	position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 10%);
}


/* ==========================================================================
   DESTINATION PAGE
   ========================================================================== */


.pickcity{
	height:100vh;
	background-size:cover;
	background-position: center;
	height:100vh;
	background-position: bottom;
	position: relative;
	overflow:hidden;
	width: 100%;
}

.pickcity img{
	width: 100%;
    height: auto;
}

.pickcity p{
	text-align: center;
}


/* ==========================================================================
   COUNTRY-DETAIL PAGE
   ========================================================================== */

.imagebackground{
	width: 100%;
	position:relative;
}

.imagebackground h1{
	position: absolute;
	top: 45%;
	left:50%;
	color: white;
	font-family: 'Boogaloo', sans-serif;
	font-size: 60px;
	margin-right: -50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.imagebackground img{
	height: 100%
	width: 100%;
}

.image{
	background-size: cover;
	height: 100%;
	background-position-y: 30%
}

.medium{
	height:50vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.description{
	margin: 35px auto;
}

.about{
	margin-right:-4000px;
}

.about h3{
	margin-left: 10%;
	text-transform: uppercase;
}

.about p{
	width:550px;
	margin-left:10%;
	color: #777;
	line-height:25px;
	font-size:15px;
}

.section-heading h3{
	margin-top: 0px;
	padding-top: 0px;
	font-weight:400;
	line-height: 0;
	font-size:25px;
}

#location{
	padding:0px;
	margin:0px;
	top: 50%;
	left:50%;
	background-color: #fff;
    color: #000;
    padding: 4px;
    position: absolute;
	opacity: 0.9;
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	margin-right: -50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
	
}

#icon{
	height:1em;
}

.pickcity{
	overflow:hidden;
	height:100vh;
	
}


/* ==========================================================================
   POLOROIDS
   ========================================================================== */

.polaroid-images {
	background: white;
	display: inline;
	float: left;
	margin:  36px 48px;
	padding: 8px 8px 10px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 8px 10px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;
    transform: rotate(-5deg);

}

.polaroid-images:before{
	content: '';
	display: block;
	position: absolute;
	left:-30px; /*postion from the left side of the frame (positive value move the tape right, negative moves it left)*/
	top: -5px; /*position from the top of the frame (positive move it above the frame, negative below)*/
	width: 75px; /*width of the tape*/
	height: 25px; /*height of the tape*/
	background-color: rgba(222,220,198,0.7); /*colour of the tape, use rgba to make it slightly transparent*/
	-webkit-transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
	-o-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	background-color: rgba(222,220,198,0.7);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
}

.polaroid-images:after {
	content: '';
	display: block;
	position: absolute;
	right:-30px;
	width:75px;height:25px;
	background-color: rgba(222,220,198,0.7);
	top: -5px;
	transform: rotate(30deg);
}

.polaroid-images img { 
	display: block; 
	width: inherit; 
}

.polaroid-images p {
	font-family: 'Bad Script', cursive;
	font-weight: bold;
	padding-top: 10px;
    font-size: 1.6em;
    margin: 0;
}


@media (min-width: 768px) {
	.navbar-default {
		background-color: transparent;
		border-color: rgba(255, 255, 255, 0.3);
	}
	.navbar-default .navbar-header .navbar-brand {
		color: rgba(255, 255, 255, 0.7);
	}
	.navbar-default .navbar-header .navbar-brand:hover,
	.navbar-default .navbar-header .navbar-brand:focus {
		color: white;
	}
	.navbar-default .nav > li > a,
	.navbar-default .nav > li > a:focus {
		color: rgba(255, 255, 255, 0.7);
	}
	.navbar-default .nav > li > a:hover,
	.navbar-default .nav > li > a:focus:hover {
		color: white;
	}
	.navbar-default.affix {
		background-color: white;
		border-color: rgba(34, 34, 34, 0.05);
	}
	.navbar-default.affix .navbar-header .navbar-brand {
		color: #2ECC71;
		font-size: 14px;
	}
	.navbar-default.affix .navbar-header .navbar-brand:hover,
	.navbar-default.affix .navbar-header .navbar-brand:focus {
		color: #eb3812;
	}
	.navbar-default.affix .nav > li > a,
	.navbar-default.affix .nav > li > a:focus {
		color: #222222;
	}
	.navbar-default.affix .nav > li > a:hover,
	.navbar-default.affix .nav > li > a:focus:hover {
		color: #2ECC71;
	}
}



/*Media queries*/
@media only screen and (max-width : 979px) {

	.poloroid-images{
		margin:60px 48px;
	}
	.about{
		margin:20px auto;
		width:auto;
		margin-right:10%;
	}
	
	.about h3{
		font-size:20px;
	}
	.about p{
		
		text-align: justify;
		width:auto;
	}

	#location{
		font-size:35px;
		transform:translate(-50%, 0%);


	}
}

/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
	
.pickcity #location{
	font-size:20px;
}


}

/* Medium Devices, .visible-md-* */
@media (min-width: 979px) and (max-width: 1199px) {}

/*.about{
		margin:20px 40px;
		width:auto;
		/*margin-right:10%;*/

		}*/



/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {}

.try{
	float:right;
	
}