/* ==========================================================================
   GENERAL STYLING
   ========================================================================== */

*{
	margin:0;
	padding:0;
}

body, html {
    height: 100%;
 /*   overflow:hidden;*/
}
body{
	font-family: 'Montserrat', sans-serif;
	
}

section{
	overflow:hidden;

}

img{
	vertical-align: 0;
}

ul{
	list-style-type: none;
}

h1{
	font-family:'Montserrat', sans-serif;
	text-transform: uppercase;
 	/* font-weight: 700;*/

}


/* ==========================================================================
   HEADER INDEX
   ========================================================================== */


header{
	background-image: url(../img/world2.jpg) ;
	background-size:cover;
	background-position: center;
	height:100vh;
	
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}

header h1{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 56px;
    color: #fff;
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

header h3{
	/*margin-bottom: 50px;*/
	text-align: center;
	font-size: 40px;
}

#sub-title {
	 font-weight: 300;
text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
  color:#fff;
  letter-spacing: 1px;


}

/* ==========================================================================
   BUTTON
   ========================================================================== */

.btn {
	border: 3px solid;
	font-family: 'Montserrat', sans-serif;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 13px 30px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	/*letter-spacing: 1px;*/
	font-weight: 700;
	outline: none;
	
	
	/*position:absolute;*/
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button  */
.btn-1 {
	color: black;
	position:relative;
	
	
}
/*
.btn-1:hover {
	background:#F5F5F5;
	/*color: white;*/
/*	border:none;
}*/*/

.btn-1:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

.btn-2{
	color:white;p
	position: absolute;
	top: 65%;
}

/*.btn-2a:hover{
	color:#2ecc71 ;
}*/

.btn-red{
	background: #CB2127;
	color: #fff;
	box-shadow: 0 4px 0 0 #923133;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 0 0 5px 5px;
	border:none;
}



.btn-red:hover {
	box-shadow: 0 2px 0 0 #923133;
    transform: translateY(2px);
    color:white;
}


/* ==========================================================================
   DESTINATION PAGE
   ========================================================================== */


.city{
	/*background-image: url(../img/sky.jpg);
	background-size:cover;*/
	/*background-color: #fff;*/
	height:100vh;
	background-size:cover;
	background-position: center;
	height:100vh;
	background-position: bottom;
	position: relative;
	margin-bottom: 50px;
	overflow:hidden;
	width: 100%;

/*	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;*/
}

.city h1{
	font-weight:700;
	text-align:center; 
	line-height:25px;
	font-size: 50px;
p


}

.city h2{
	position: absolute;
	top: 50%;
	color: white;
	font-family: 'Boogaloo', sans-serif;
	font-size: 60px;
}

.city img{
	width: 100%;
    height: auto;
    /*width: auto\9; /* ie8 */*/

}
.city p{
	text-align: center;
}

.city-content{
	position: absolute
	top: 50%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
	border: 3px yellow solid;
}

.countryimage{
	width: 100%;
	/*border: solid green 4px;*/

	position:relative;
}

.countryimage img{
	height: 100%
	width: 100%;
	
}

.image{
	background-size: cover;
	height: 100vh;
	background-position-y: 30%
}

.medium{
	height:50vh;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.countryimage h1{
	position: absolute;
	top: 45%;
	left:50%;
	color: white;
	font-family: 'Boogaloo', sans-serif;
	font-size: 60px;
	margin-right: -50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
	/*border: solid green 4px;*/

}

	.card-title {
		background: rgba(157, 187, 63, .85);
		padding: 3.5% 0 2.5% 0;
		color: white;
		font-family: 'Roboto Condensed', sans-serif;
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
		width: 300px;
		
	}

.card-title h3 {
			font-size: 1.2em;
			line-height: 1.2;
			padding: 0 3.5%;
			margin: 0;
		}


.square{
	width: 300px;
	min-height: 300px;
	border: #ccc solid 1px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0   rgba(0,0,0,.12);

}

.square p{
	padding: 20px;
	font-family: 'Raleway', sans-serif;
}



i{
	margin: 20px;
}

.call-outs-container{
	display:flex;
	max-width:100%;
	margin: 40px auto 0 auto;
}

.call-out{
	padding: 20px;
	margin-bottom: 20px;
	flex: 1;
}
.wrapper{
	width: 100%;
	max-width:1200px;
	margin: 0 auto;
}

.container-fluid{
	display:flex;
	/*border: 4px dotted orange;*/
	flex-wrap:wrap;
	/*justify-content: space-around;*/
	margin: 10px auto;
}



.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.icon-background{
	color: #74fc74;
}
.test{
	background:red;
	width: 200px;
}


.middle{
	text-align:center;
}

/*.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
 /*   margin:1.66%;
    background-color:#1E1E1E;
    overflow:hidden;

.content {
    position:absolute;
    height:90%;  = 100% - 2*5% padding 
    width:90%; /* = 100% - 2*5% padding 
    padding: 5%;
    
}*/


.navbar-default {
	background-color: white;
	border:none;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-right{
	margin-right:0px;
	color: rgba(255, 255, 255, 0.7);
}

.try{
	float:right;
}



@media (min-width: 768px) {
	.navbar-default {
		background-color: transparent;
		border-color: rgba(255, 255, 255, 0.3);
	}
	.navbar-default .navbar-header .navbar-brand {
		color: rgba(255, 255, 255, 0.7);
	}
	.navbar-default .navbar-header .navbar-brand:hover,
	.navbar-default .navbar-header .navbar-brand:focus {
		color: white;
	}
	.navbar-default .nav > li > a,
	.navbar-default .nav > li > a:focus {
		color: rgba(255, 255, 255, 0.7);
	}
	.navbar-default .nav > li > a:hover,
	.navbar-default .nav > li > a:focus:hover {
		color: white;
	}
	.navbar-default.affix {
		background-color: white;
		border-color: rgba(34, 34, 34, 0.05);
	}
	.navbar-default.affix .navbar-header .navbar-brand {
		color: #2ECC71;
		font-size: 14px;
	}
	.navbar-default.affix .navbar-header .navbar-brand:hover,
	.navbar-default.affix .navbar-header .navbar-brand:focus {
		color: #eb3812;
	}
	.navbar-default.affix .nav > li > a,
	.navbar-default.affix .nav > li > a:focus {
		color: #222222;
	}
	.navbar-default.affix .nav > li > a:hover,
	.navbar-default.affix .nav > li > a:focus:hover {
		color: #2ECC71;
	}
}

.about{
	margin-right:-4000px;
}

.about h3{
	margin-left: 10%;
	text-transform: uppercase;
}

.about p{
	width:550px;
	margin-left:10%;
	color: #777;
	line-height:25px;
	font-size:15px;
}

 .description{
	margin: 35px auto;
}

.section-heading h3{
	margin-top: 0px;
	padding-top: 0px;
	font-weight:400;
	line-height: 0;
	font-size:25px;
}



#location{
	padding:0px;
	margin:0px;
	top: 50%;
	left:50%;
	background-color: #fff;
    color: #000;
    padding: 4px 0px 4px 4px;
    font-size: 25px;
    position: absolute;
	
	opacity: 0.9;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	margin-right: -50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
	/*border: solid green 4px;*/
}

#locationimg{
	
	height:1em;
}



.left{
	left:35%;
}

.right{
	right:35%;
	font-size:22px
	color:black;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

 /* background: #fff;*/
 

/*  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #e2b607;
  box-shadow: inset 0 -2px #e2b607;*/
}

.left{
	right:35%;
	font-size:22px
	color:white;
	text-align: center;
	/* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2ecc71;*/
  border: 0;
/*border-bottom: 2px solid #28be68;*/
  cursor: pointer;
/*  -webkit-box-shadow: inset 0 -2px #28be68;
  box-shadow: inset 0 -2px #28be68;*/
}

.buttons{
	
	position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 10%);
}

.sun-flower-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f1c40f;
  border: 0;
  border-bottom: 2px solid #e2b607;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #e2b607;
  box-shadow: inset 0 -2px #e2b607;
}
.sun-flower-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.random{
	overflow:hidden;
	height:100vh;
}

.polaroid-images 
{
	background: white;
	display: inline;
	float: left;
	margin:  36px 48px;
	padding: 8px 8px 10px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 8px 10px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
        transform: rotate(-5deg);

}

.polaroid-images:before{

 /*see the support section below to more info on using the :before psuedo element*/
content: '';
display: block;
position: absolute;
left:-30px; /*postion from the left side of the frame (positive value move the tape right, negative moves it left)*/
top: -5px; /*position from the top of the frame (positive move it above the frame, negative below)*/
width: 75px; /*width of the tape*/
height: 25px; /*height of the tape*/
background-color: rgba(222,220,198,0.7); /*colour of the tape, use rgba to make it slightly transparent*/
/*rotate the tape 12 degrees anti-clockwise*/
-webkit-transform: rotate(-25deg);
-moz-transform: rotate(-25deg);
-o-transform: rotate(-25deg);
-ms-transform: rotate(-25deg);

    
  
  
    background-color: rgba(222,220,198,0.7);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
}
.polaroid-images:after {
	content: '';
	display: block;
	position: absolute;
	right:-30px;
	width:75px;height:25px;
	background-color: rgba(222,220,198,0.7);

  top: -5px;
  transform: rotate(30deg);
}
  /*  margin: 10px 48px;
    padding: 8px 8px 21px;*/
    

/*.polaroid-images a:after {

	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;

}*/

.polaroid-images img { 
	display: block; 
	width: inherit; 
}

i{
	color:red;
}

.polaroid-images p {
 font-family: 'Bad Script', cursive;
 font-weight: bold;
 

      padding-top: 10px;
    font-size: 1.6em;
    /* color: red; */
    margin: 0;
  
  
}

/*Media queries*/
@media only screen and (max-width : 979px) {

	.poloroid-images{
		margin:60px 48px;
	}
	.about{
		margin:20px auto;
		width:auto;
		margin-right:10%;
	}
	
	.about h3{
		font-size:20px;
	}
	.about p{
		
		text-align: justify;
		width:auto;
	}

	#location{
		font-size:35px;
		transform:translate(-50%, 0%);


	}
}

/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
	
}


}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {}